*{
  padding: 0;
  margin: 0;
}

.first-page-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.get-app-main-container{
  width: 118px;
  height: 36px;
  background-color: #171C17;
  padding: 12px;
  border: 1px;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
}
.get-app-text-icon-container{
  vertical-align: center;
  justify-content: center;
}
.get-app-text{

  width: 62px;
  height: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;
}

.get-app-icon{
  width: 12;
  height: 12;
  top: 6px;
  left: 6px;
  border-width: 2px;
  color: #FAFFFC;
  align-items: center;
}
.ballerhq-icon {
  display: flex;
  align-items: center;
}

.ballerhq-icon img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.ballerhq-icon p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24.2px;
  font-weight: 600px;
  line-height: 100%;
  margin-left: 10px;
}

/* Revolutionise layer*/
.first-page-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.first-page-body {
  margin-top: 50px;
  margin-left: 50px;
}

.first-page-container .experience {
  width: 717px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(29, 28, 28);
}
.experience span {
  color: palegreen;
}
.first-page-container .booking-session {
  width: 717px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.line-dash {
  width: 50px;
}

/* Button styling*/ 
Button {
  width: 148.5px;
  height: 44px;
  margin-right: 10px;
  padding: 5px;
  color: white;
  border-color: #A6A6A6;
  background-color: black;
  border-width: 1px;
  box-sizing: 1px;
  border-radius: 16px;

}
/* This the star icon image styling*/
.sport-platform {
  display: flex;
  margin-top: 50px;
  position: relative;
  bottom: -50px;
}
.football-boot {
  width: 118px;
  height: 140px;
  border-radius: 16px;
}

.tennis {
  width: 72px;
  height: 85px;
  padding-left: 10px;
  border-radius: 16px;
  position: relative;
  bottom: -120px;
}

.b-ballers {
  width: 72px;
  height: 85px;
  padding-left: 10px;
  border-radius: 16px;
  position: relative;
  bottom: -120px;
  
}