*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-page-logo {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.ballerhq-icon {
  display: flex;
  align-items: center;
}

.ballerhq-icon img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.ballerhq-icon p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24.2px;
  font-weight: 600px;
  line-height: 100%;
  margin-left: 10px;
}

/* Revolutionise layer*/
.first-page-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.first-page-text {
  margin-top: 50px;
  margin-left: 50px;
}

.first-page-body .experience {
  width: 717px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(29, 28, 28);
}
.experience span {
  color: palegreen;
}
.first-page-body .booking-session {
  width: 717px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.line-dash {
  width: 50px;
}

/* Button styling*/ 
.revolutionise-text Button {
  width: 148.5px;
  height: 44px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  color: white;
  background-color: black;
  box-sizing: 1px;
  border-radius: 16px;
}
/* This the star icon image styling*/
.sport-platform {
  display: flex;
  margin-top: 50px;
  position: relative;
  bottom: -50px;
}
.football-boot {
  width: 118px;
  height: 140px;
  border-radius: 16px;
}

.tennis {
  width: 72px;
  height: 85px;
  padding-left: 10px;
  border-radius: 16px;
  position: relative;
  bottom: -120px;
}

.b-ballers {
  width: 72px;
  height: 85px;
  padding-left: 10px;
  border-radius: 16px;
  position: relative;
  bottom: -120px;
  
}

/* Why Ballers Layer Styling*/
.second-page-images-container {
  
}

.second-page-image {
  width: 584px;
  height: 348px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(55, 179, 103, 1);
  border-radius: 32px;
  overflow: hidden;
}

.second-page-image-text {
  display: flex;
}

.second-page-image-text img {
  width: 321px;
  height: 324px;
  border-radius: 24px;
}

.second-page-logo img {
  width: 178px;
  height: 188.94px;
  opacity: 20%;
  position: relative;
  bottom: -227px;
  right: -20px;
}

/* Third page styling*/
.third-page-container {
  width: 1392px;
  height: 696px;
  margin-bottom: 60px;
  background-color: #07160D;
  display: flex;
}
.third-page-body-icon-container {
  position: relative;
  right: 240px;
  margin: auto;
}
.third-page-image img {
  width: 626px;
  height: 938.89px;
  position: relative;
  bottom: 40px;
  right: 260px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.third-page-body {
  padding: 16px 8px;
}
.third-page-body p {
  width: 825px;
  color: #fff;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2px;
}
.third-page-body span {
  width: 825px;
  color: #45E081;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2px;
}

.third-page-icons {
  width: 936px;
  height: 164px;
  display: flex;
  color: #FAFFFC;
}
.third-page-icons img {
  width: 48px;
  height: 44px;
  background-color: #45E081;
  padding: 6px 8px;
  border-radius: 8px;
}

.third-page-icon-single {
  width: 290.67px;
  height: 164px;
}
.third-page-icon-single p {
  width: 250px;
  font-family: inter;
  font-size: 20px;
  line-height: 30px;
}

.third-page-logo {
  width: 255px;
  height: 270.67px;
  position: relative;
  top: -0;
  right: 180px;
  transform: rotate(134.62deg);
  z-index: 1px;
}