.main-container {
    padding: 0;
    margin: 0;
    font-family: Rethink Sans, serif;
}

.first-page-container {
    display: flex;
    flex-flow: column;
    width: 1392px;
    height: 636px;
    gap: 84px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

}

.first-page-navbar {
    margin-left: 84px;
    margin-right: 84px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}


.logo-icon-and-text {
    display: flex;
    flex-flow: row;
    width: 118.4px;
    height: 40px;
    justify-content: space-between;
    align-items:center;
}

.logo-icon-and-text > img{
    width: 40px;
    height: 40px;
    border-radius: 10.76px;
}
.logo-icon-and-text > div {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 73px;
    height: 32px;
    font-weight: 600;
    font-size: 24.2px;

}

.get-app-main-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    background: #171C17;
    width: 118px;
    height: 36px;
    border-radius: 16px;
    border-width: 1px;

}

.get-app-text {
    font-size: 16px;
    color: #FFFFFF;
    width: 62px;
    height: 21px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.get-app-icon-container {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 24px;
    height: 24px;
}
.get-app-icon {
    width: 12px;
    height: 12px;
}


.first-page-body-container{
    width: 1280px;
    height: 370px;
    display: flex;
    flex-flow: column;
    margin-left: 40px;
    margin-right: 40px;
}

.first-page-body-main-content{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.first-page-body-text-area{
    display: flex;
    flex-flow: column;
    margin-left: 40px;
    width: 717px;
    height: 286px;
}
.first-page-body-main-text{

    width: 717px;
    height: 216px;

    /*gap: 8px;*/

    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #1D2939;

}

.emphasis{
    color:#37B367
}
.first-page-emphasis{
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
}

.first-page-body-sub-text{
    width: 717px;
    height: 62px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1D2939;

}


.first-page-body-frame-container{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.first-page-body-top-frame{
    display: flex;
    flex-flow: column;
    width: 140px;
    height: 74px;
    /*gap: 8px;*/

}

.first-page-body-top-frame > img{
    width: 24px;
    height: 24px;

}

.first-page-body-top-frame-text {
    width: 140px;
    height: 42px;
    font-weight: 700;
    font-size: 16px;
    color: #171C17;
}

.first-page-body-bottom-frame{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    width: 290px;
    height: 140px;
    /*gap: 14px;*/

}
.first-page-body-bottom-frame > img{
    width: 72px;
    height: 85px;
    border-radius: 16px;
    margin-left: 14px;

}
#first-img {
    width: 118px;
    height: 140px;
    border-radius: 16px;
}
.first-page-body-get-app-buttons-container{
    display: flex;
    flex-flow: row;
    width: 289px;
    height: 44px;
    margin-left: 40px;

}
